/* Global Styles */

.container {
    width: 100%;
    height: 100%;
    --color: #E1E1E1;
    background-color: #F3F3F3;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 55px 55px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    width: 100%;
    height: 100%;
    --color: #E1E1E1;
    background-color: #F3F3F3;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 55px 55px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.theme-switch {
    --toggle-size: 20px;
    /* Smaller size for the toggle */
    --container-width: 4em;
    /* Adjust width */
    --container-height: 2em;
    /* Adjust height */
    --container-radius: 4em;
    /* Adjust radius */
    --circle-container-diameter: 2.5em;
    /* Adjust circle container diameter */
    --sun-moon-diameter: 1.5em;
    /* Adjust sun/moon diameter */
    --sun-bg: #ECCA2F;
    --moon-bg: #C4C9D1;
    --spot-color: #959DB1;
    --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
    --stars-color: #fff;
    --clouds-color: #F3FDFF;
    --back-clouds-color: #AACADF;
    --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
    --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
}


/* Apply box-sizing to ensure proper sizing */

.theme-switch,
.theme-switch *,
.theme-switch *::before,
.theme-switch *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--toggle-size);
}


/* Container styles */

.theme-switch__container {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-light-bg);
    border-radius: var(--container-radius);
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
}


/* Position the theme switcher in the top-right corner */

.theme-switch {
    position: fixed;
    top: 10px;
    /* Adjust the distance from the top */
    right: 10px;
    /* Adjust the distance from the right */
}


/* Hide checkbox */

.theme-switch__checkbox {
    display: none;
}


/* Circle container styles */

.theme-switch__circle-container {
    width: var(--circle-container-diameter);
    height: var(--circle-container-diameter);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: var(--circle-container-offset);
    top: var(--circle-container-offset);
    border-radius: var(--container-radius);
    -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    pointer-events: none;
}


/* Sun/Moon container styles */

.theme-switch__sun-moon-container {
    pointer-events: auto;
    position: relative;
    z-index: 2;
    width: var(--sun-moon-diameter);
    height: var(--sun-moon-diameter);
    margin: auto;
    border-radius: var(--container-radius);
    background-color: var(--sun-bg);
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    overflow: hidden;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}


/* Moon styles */

.theme-switch__moon {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--moon-bg);
    border-radius: inherit;
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
}


/* Spot styles */

.theme-switch__spot {
    position: absolute;
    top: 0.75em;
    left: 0.312em;
    width: 0.75em;
    height: 0.75em;
    border-radius: var(--container-radius);
    background-color: var(--spot-color);
    -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}


/* Additional spot styles */

.theme-switch__spot:nth-of-type(2) {
    width: 0.375em;
    height: 0.375em;
    top: 0.937em;
    left: 1.375em;
}

.theme-switch__spot:nth-last-of-type(3) {
    width: 0.25em;
    height: 0.25em;
    top: 0.312em;
    left: 0.812em;
}


/* Clouds styles */

.theme-switch__clouds {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clouds-color);
    border-radius: var(--container-radius);
    position: absolute;
    bottom: -0.625em;
    left: 0.312em;
    -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}


/* Stars container styles */

.theme-switch__stars-container {
    position: absolute;
    color: var(--stars-color);
    top: -100%;
    left: 0.312em;
    width: 2.75em;
    height: auto;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}


/* Dark Theme Styles */

body.dark-mode {
    background-color: #333;
}

.theme-switch__checkbox:checked+.theme-switch__container {
    background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__circle-container {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__circle-container:hover {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em);
}

.theme-switch__circle-container:hover {
    left: calc(var(--circle-container-offset) + 0.187em);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__moon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__clouds {
    bottom: -4.062em;
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__stars-container {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #343a40;
}

#passwordSection,
#fileSection {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 90%;
    max-width: 600px;
    margin-bottom: 20px;
    text-align: center;
}


/* Input Styles */

input[type="file"],
input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-sizing: border-box;
}


/* Button Styles */

button {
    background: linear-gradient(to right, #28a745, #218838);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #218838, #28a745);
    transform: translateY(-2px);
}


/* .btn Styles from Uiverse.io by Yaya12085 */

.btn {
    position: relative;
    outline: 0;
    border: 1px solid transparent;
    background-color: #488aec;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
}

.btn span {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    transition: all .4s ease;
}

button svg {
    width: 1.25rem;
    height: 1.25rem;
}

.btn span:nth-child(2),
.btn span:nth-child(3) {
    position: absolute;
    top: 40px;
    color: #fff;
}

.btn span:nth-child(2) {
    background-color: #488aec;
}

.btn span:nth-child(3) {
    background-color: #488aec;
}

.btn:hover {
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

.btn:hover span:nth-child(2),
.btn:focus span:nth-child(3) {
    top: 0;
}

.btn:focus {
    box-shadow: none;
}


/* Center Button Container */

.center-button {
    display: flex;
    justify-content: center;
}

.center-button .btn {
    margin: 0 auto;
}


/* Progress Bar Styles */

#progressContainer {
    margin-top: 15px;
    width: 100%;
    background-color: #e9ecef;
    border-radius: 8px;
    overflow: hidden;
}

#progressBar {
    width: 0;
    height: 25px;
    background-color: #007bff;
    color: #fff;
    line-height: 25px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    transition: width 0.4s ease;
}


/* Error Message Styles */

#errorMessage,
#passwordErrorMessage,
#filePasswordErrorMessage {
    color: #dc3545;
    margin-top: 15px;
    font-size: 0.9rem;
}

#downloadSection {
    margin-top: 25px;
}

#downloadLink {
    display: none;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.3s ease;
}

#downloadLink:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}


/* From Uiverse.io by Jerome-W-90 */

.modal {
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 1rem;
}

.logo-circle {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e9e5ff;
    fill: #1cc972;
}

.btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 0.25rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-close:hover,
.btn-close:focus {
    background-color: #e9e5ff;
}

.modal-body {
    padding: 1rem 1.5rem;
}

.modal-title {
    font-weight: 700;
}

.modal-description {
    color: #6a6b76;
}

.upload-area {
    margin-top: 1.25rem;
    background-color: transparent;
    padding: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed #6a6b76;
}

.upload-area:hover,
.upload-area:focus {
    cursor: pointer;
    border: 1px solid #6a6b76;
}

.upload-area:hover .upload-area-icon,
.upload-area:focus .upload-area-icon {
    transform: scale(1.3);
    transition-duration: 0.3s;
}

.upload-area-icon {
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    fill: #1cc972;
}

.upload-area-title {
    margin-top: 1rem;
    display: block;
    font-weight: 700;
    color: #0d0f21;
}

.upload-area-description {
    display: block;
    color: #6a6b76;
}

.upload-area-description strong {
    color: #1cc972;
    font-weight: 700;
}

.modal-footer {
    padding: 1rem 1.5rem 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.modal-footer [class*="btn-"] {
    margin-left: 0.75rem;
}

.btn-secondary,
.btn-primary {
    padding: 0.5rem 1rem;
    font-weight: 500;
    border: 2px solid #e5e5e5;
    border-radius: 0.25rem;
    background-color: transparent;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #1cc972;
    border-color: #1cc972;
    cursor: pointer;
}


/* From Uiverse.io by reshades */

.button {
    width: 10em;
    height: 3em;
    border-radius: 8px;
    border: 0.15em solid rgb(162, 63, 255);
    color: rgb(162, 63, 255);
    background-color: #00000000;
    transition: all 0.5s ease;
}

.button .text {
    display: none
}

.button:hover>.text {
    display: block;
}

.button:hover>svg {
    display: none;
}

.button:hover {
    background-color: rgb(162, 63, 255);
    color: #fff
}

.button svg {
    width: 1.5em;
    margin-top: 3px;
}


/* From Uiverse.io by Christardev */

.password {
    outline: none;
    max-width: 190px;
    padding: 8px;
    background-color: #d4cbcb;
    border-radius: 12px;
    border: 4px solid #000000;
    width: auto;
    font-weight: bold;
    font-style: italic;
}

.password:hover {
    background-color: #6ad5f0;
    outline: none;
    border: 4px solid #000000;
}


/* From Uiverse.io by gharsh11032000 */

.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: greenyellow;
    box-shadow: 0 0 0 2px greenyellow;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
    position: absolute;
    width: 24px;
    fill: greenyellow;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: greenyellow;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: #212121;
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}


/* From Uiverse.io by WAIOKYERE */

ul {
    list-style: none;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    color: #4d4d4d;
    background-color: #ffff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 50%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"]~.tooltip {
    background-color: #e0dcdc;
}

.example-2 .icon-content a[data-social="snapchat"] .filled,
.example-2 .icon-content a[data-social="snapchat"]~.tooltip {
    background-color: #dfee0b;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"]~.tooltip {
    background-color: #070203;
}

.example-2 .icon-content a[data-social="telegram"] .filled,
.example-2 .icon-content a[data-social="telegram"]~.tooltip {
    background-color: #0088cc;
}


/* From Uiverse.io by gagan-gv */

.loader {
    width: 12em;
    height: 1em;
    border-radius: 8px;
    background-color: #47a7ff44;
}

.loader div {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: #47a7ff;
    animation: width7435 5s linear infinite;
    transition: all;
}

@keyframes width7435 {
    from {
        /*width: 0;*/
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.coffee-button {
    display: inline-block;
    text-decoration: none;
}

.coffee-button img {
    width: 150px;
    /* Adjust width as needed */
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.coffee-button img:hover {
    transform: scale(1.1);
}

@keyframes width7435 {
    from {
        /*width: 0;*/
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}


/* Responsive Design */

@media (max-width: 768px) {
    #passwordSection,
    #fileSection {
        width: 95%;
        padding: 20px;
    }
    button,
    #downloadLink {
        width: 100%;
        box-sizing: border-box;
    }
}